@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
/* General styles
------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Container
------------------------------------------------------------------------*/
.container {
  max-width: 350px;
}

@media (min-width: 1000px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1000px) {
  .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* Header section
------------------------------------------------------------------------*/
.header {
  text-align: center;
  padding-top: 3rem;
}

.header .hero {
  font-weight: 200;
  font-size: 26px;
  color: #a3a5ae;
}

.header span {
  font-size: 26px;
  color: #4c4e61;
}

.header .main-paragraph {
  color: #a3a5ae;
  padding-top: 1rem;
  font-size: 17px;
}

@media (min-width: 1000px) {
  .header .main-paragraph {
    padding: 16px 300px;
  }
}

/* Card general styles
------------------------------------------------------------------------*/
.card-header h2 {
  color: #4c4e61;
  padding-bottom: .5rem;
  font-weight: bolder;
}

.card-body p {
  color: #a3a5ae;
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* Card 1
------------------------------------------------------------------------*/
.card1 {
  background-color: white;
  border-top: solid 5px #45d3d3;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 20px #a3a5ae;
          box-shadow: 0 5px 20px #a3a5ae;
  margin-top: 3rem;
  padding: 2rem 2rem 1rem 2rem;
}

.card1 img {
  padding: 1rem 0;
}

@media (min-width: 1000px) {
  .card1 {
    width: 33.3%;
    height: 60%;
    margin-top: 15%;
  }
}

/* Card 2
------------------------------------------------------------------------*/
@media (min-width: 1000px) {
  .wrapper {
    width: 33.3%;
    margin: 1rem;
  }
}

.card2 {
  background-color: white;
  border-top: solid 5px #ea5353;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 20px #a3a5ae;
          box-shadow: 0 5px 20px #a3a5ae;
  margin-top: 1.5rem;
  padding: 2rem 2rem 1rem 2rem;
}

.card2 img {
  padding: 1rem 0;
}

/* Card 3
------------------------------------------------------------------------*/
.card3 {
  background-color: white;
  border-top: solid 5px #d49a4e;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 20px #a3a5ae;
          box-shadow: 0 5px 20px #a3a5ae;
  margin-top: 1.5rem;
  padding: 2rem 2rem 1rem 2rem;
}

.card3 img {
  padding: 1rem 0;
}

/*  Card 4
------------------------------------------------------------------------*/
.card4 {
  background-color: white;
  border-top: solid 5px #549ef2;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 20px #a3a5ae;
          box-shadow: 0 5px 20px #a3a5ae;
  margin: 1.5rem 0 2rem 0;
  padding: 2rem 2rem 1rem 2rem;
}

.card4 img {
  padding: 1rem 0;
}

@media (min-width: 1000px) {
  .card4 {
    width: 33.3%;
    height: 60%;
    margin-top: 15%;
  }
}
/*# sourceMappingURL=main.css.map */