@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

// Primary Colors

$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 61%, 57%);
$Blue: hsl(212, 86%, 64%);

// Neutral colors

$Very-Dark-Blue: hsl(234, 12%, 34%);
$Grayish-Blue: hsl(229, 6%, 66%);
$Very-Light-Gray: hsl(0, 0%, 98%);

$desktop: 1200px;
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

/* General styles
------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: $Very-Light-Gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Container
------------------------------------------------------------------------*/
.container {
    max-width: 350px;

    @include desktop {
        max-width: 1200px;
    }

}

.cards {
    @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Header section
------------------------------------------------------------------------*/
.header{

    text-align: center;
    padding-top: 3rem;

    .hero {
        font-weight: 200;
        font-size: 26px;
        color: $Grayish-Blue;
        
    }
    span {
        font-size: 26px;
        color: $Very-Dark-Blue;
    }

    .main-paragraph {
        color: $Grayish-Blue;
        padding-top: 1rem;
        font-size: 17px;

        @include desktop {
            padding: 16px 300px;
            
        }
    }
    
}


/* Card general styles
------------------------------------------------------------------------*/
.card-header{

    h2 {
        color: $Very-Dark-Blue;
        padding-bottom: .5rem;
        font-weight: bolder;
    }
}

.card-body {

    p {
        color: $Grayish-Blue;
    }
}

.card-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* Card 1
------------------------------------------------------------------------*/
.card1 {
    background-color: white;
    border-top: solid 5px $Cyan;
    border-radius: 5px;
    box-shadow: 1px 1px 10px $Grayish-Blue;
    margin-top: 3rem;
    padding: 2rem 2rem 1rem 2rem;

    img {
        padding: 1rem 0 ;
    }

    @include desktop {
        width: 400px;
        height: 60%;
        margin-top: 15%;
    }

}


/* Card 2
------------------------------------------------------------------------*/
.wrapper {
    @include desktop {
        width: 400px;
        margin: 1rem;
    }
}
.card2 {
    background-color: white;
    border-top: solid 5px $Red;
    border-radius: 5px;
    box-shadow: 1px 1px 10px $Grayish-Blue;
    margin-top: 1.5rem;
    padding: 2rem 2rem 1rem 2rem;

    img {
        padding: 1rem 0 ;
    }
   
}
/* Card 3
------------------------------------------------------------------------*/
.card3 {
    background-color: white;
    border-top: solid 5px $Orange;
    border-radius: 5px;
    box-shadow: 1px 1px 10px $Grayish-Blue;
    margin-top: 1.5rem;
    padding: 2rem 2rem 1rem 2rem;

    img {
        padding: 1rem 0;
    }
}
/*  Card 4
------------------------------------------------------------------------*/
.card4 {
    background-color: white;
    border-top: solid 5px $Blue;
    border-radius: 5px;
    box-shadow: 1px 1px 10px $Grayish-Blue;
    margin: 1.5rem 0 2rem 0;
    padding: 2rem 2rem 1rem 2rem;

    img {
        padding: 1rem 0;
    }

    @include desktop {
        width: 400px;
        height: 60%;
        margin-top: 15%;
    }
}